<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>*~Lorenzo Pessano Azevedo~*</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

<style>
h1   {color: white;}
p    {color: white;}
</style>
</head>
<body bgcolor="#E6E6FA">
    {{{body}}}
</body>
</html>